body {
  background-color: white;
  font-size: 20;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  color: white;
  background-color: black;
  font-size: 30px;
}
h2 {
  color: rgb(82, 78, 78);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
table {
  color: grey;
  font-size: 18px;
}
.day {
  color: darkgreen;
}
.we {
  color: palevioletred;
}
.meal {
  color: black;
}
table {
  border-color: black;
  border-width: 2;
}
span {
  color: rebeccapurple;
}
