* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.photo {
  display: block;
  width: 100px;
  height: 100px;
}
