<nav class="main__menu">
  <ul class="menu">
    <li><a href="link 1">link 1</a></li>
    <li><a href="link 2">link 2</a></li>
    <li><a href="link 3">link 3</a></li>
  </ul>
</nav>
<article class="main__content">
  <h2 class="heading">Max-width, min-width, max-height, min-height</h2>
  <div class="container">
    <p class="text">
      Estas propiedades que permiten "limitar" anchos y altos se pueden aplicar
      a casi cualquier contenedor (que admita dimensiones, como aquellos con
      display block o inline-block) de manera que podamos tener elementos que se
      dimensionen a base de porcentajes pero sobre los que tengamos un poco de
      control para que en determinados escenarios no se hagan demasiado pequeños
      ni demasiado grandes.
    </p>
    <div class="rectangle"></div>
  </div>
</article>
<aside class="main__info">
  <h3 class="info-title">Related info</h3>
  <p>
    Ya vimos en la sesión de flexbox, en este codepen tenemos dos columnas, una
    (aside) que ocupa el 50% del ancho hasta 320px y la otra (.main) que ocupa
    el resto
  </p>
</aside>
