* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  padding-bottom: 22px;
  width: 100%;
}
.menu {
  background-color: lime;
}
.link-menu {
  text-transform: capitalize;
  list-style: none;
  padding-left: 0;
}
.heading {
  padding-bottom: 22px;
}
.main {
  background-color: yellow;
  height: 50vh;
  line-height: 1.4;
  margin-bottom: 21px;
  
  
}
.footer {
  background-color: darkgrey;
  line-height: 1.2;
}
.info {
  padding-bottom: 22px;
}
@media all and (min-width: 480px) {

   