* {
  margin: 0;
  box-sizing: border-box;
}
.page {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  margin-bottom: 4vh;
}
.menu {
  background-color: lime;
}
.link-menu {
  text-transform: capitalize;
  list-style: none;
  padding-left: 0;
}
.heading {
  padding-bottom: 4vh;
}
.main {
  background-color: yellow;
  margin-bottom: 3vh;
}
.info {
  padding-bottom: 4vh;
}
.footer {
  background-color: darkgrey;
}
@media all and (min-width: 480px) {

    .page {
        padding-right: 53vh;
    }
  .menu {
    position: absolute;
    width: 23vw;
  }
  .main {
    position: relative;
    left: 25vw;
    display: inline-block;
    margin-bottom: 0;
  }
  .rectangle {
      height: 35vh;
      width: 25vw;
      background-color: orange;  
  }
  
  .footer {
      position: relative;
      left: 25vw;
      
  }
@media all and (min-width: 1000px) {
  /* Reglas CSS que aplicaremos */
}
