.page {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-transform: uppercase;
}

.columns {
  display: flex;
  height: 500px;
  width: 500px;
  background-color: white;
  border: 2px purple solid;
  box-sizing: border-box;
}
.item {
  font-size: 22px;
  background-color: plum;
  border-right: 2px purple solid;
  padding: 8px;
}
.rows {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: white;
  border: 2px purple solid;
  box-sizing: border-box;
}
.item {
  font-size: 22px;
  background-color: plum;
  border-bottom: 2px purple solid;
}
