.title {
  margin-left: 80px;
}
.form {
  margin-left: 20px;
  &__radio--2 {
    margin-left: 20px;
  }
  &__radio--3 {
    margin-left: 20px;
  }
}

.color-selected {
  border: 2px black solid;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
}
