body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3px;
}
.header {
  color: white;
  background-color: lightpink;
  text-transform: uppercase;
  height: 20vh;
  grid-column: span 11;
  grid-row: span 1;
}
.menu {
  color: white;
  background-color: purple;
  text-transform: uppercase;
  grid-column: span 4;
  grid-row: span;
}
.content {
  color: white;
  background-color: lightcoral;
  text-transform: uppercase;
  grid-column: span 8;
  grid-row: span;
}
.footer {
  color: white;
  background-color: lightsteelblue;
  text-transform: uppercase;
  height: 20vh;
  grid-column: span 12;
  grid-row: span 1;
}
